body {
    display: flex;
    margin: 30px 0;
    justify-content: center;
    align-content:center;
    background-color: #7d8491;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #4b5058;
}

.header-link {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    font-weight: bolder;
    display: block;
    padding-bottom: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    max-width: 380px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.message {
    height: 10px;
    padding-bottom: 8px;
    align-items: center;
}

.buttons {
    padding-top: 15px;
}

.parameter {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.parameter-settings {
    padding: 3px 20px;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #eff0ef;
    color: #7d8491;
}

.input-field:focus {
    outline: 2px solid #7d8491;
}

.button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color:#443850;
    color: #bdb1c8;
}

.button:hover {
    background-color: #332a3c;

}

.button-attack {
    background-color:#c1121f;
    color: #f8b0b5;
}

.button-attack:hover {
    background-color: #a40f19;
}

.button-login, .button-register {
    background-color:#bbbe64;
    color: #ecedd3;
}

.button-login:hover, .button-register:hover {
    background-color:#a9ad48;
}
