<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <title>Authentication server simulator</title>
</head>
<body>
    <div class="container">
        <header><a href="{{ url_for('index') }}" class="header-link">Authentication server simulator</a></header>
        {% block container %} {% endblock %}
    </div>
</body>
</html>