{% extends "base.html" %}
{% block container %}
<script>
    function toggleRequired(sm) {
        var cb = document.getElementById(sm + "_cb");
        var tb = document.getElementById(sm + "_tb");
        tb.required = cb.checked;
    }
</script>
    <form action="{{url_for('save')}}" method="post">
        <div class="parameter">
            <label for="hashfunc">
                Password-hashing function:
                <select name="hashfunc" id="hashfunc" class="input-field">
                    {% for hf in form_config.hash_functions %}
                        <option value="{{ hf.name }}" {% if hf.status %} selected {% endif %}>
                            {{ hf.label }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>
        {% for sm in form_config.security_modules %}
            <div class="parameter">
                <label for="{{ sm.name }}">
                    <input
                        type="checkbox"
                        name="{{ sm.name }}"
                        id="{{ sm.name }}_cb"
                        onchange="toggleRequired('{{ sm.name }}')"
                        {% if sm.status %} checked {% endif %}>
                    {{ sm.label }}
                    {% if sm.value is defined %}
                        <input
                            type="{{ sm.type }}"
                            name="{{ sm.name }}_val"
                            {% if sm.value is not none %} value="{{ sm.value }}" {% endif %}
                            {% if sm.info is defined %} placeholder="{{ sm.info }}" {% endif %}
                            maxlength="32"
                            class="input-field"
                            id="{{ sm.name }}_tb"
                            {% if sm.status %} required {% endif %}>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
        <div class="buttons">
            <input type="submit" value="Save & Reset" class="button">
            <a href="{{url_for('index')}}" class="button">Discard</a>
        </div>
    </form>
{% endblock %}