{% extends "base.html" %}
{% block container %}
    <form action="/" method="post">
        <label for="hashfunc">Password-hashing function:</label>
        <select name="hashfunc" id="hashfunc" class="input-field">
            {% for hf in form_config.hash_functions %}
                <option value="{{ hf.name }}" {{ hf.status }}>{{ hf.label }}</option>
            {% endfor %}
        </select><br>
        {% for sm in form_config.security_modules %}
            <input type="checkbox" name="{{ sm.name }}" {{ sm.status }}>
            <label for="{{ sm.name }}">{{ sm.label }}</label>
            {% if sm.value %}
                <input type="text" name="{{ sm.name }}_val" value="{{ sm.value }}" maxlength="32" required class="input-field">
            {% endif %}
            <br>
        {% endfor %}
        <input type="submit" value="Save & Reset" class="button button-config">
    </form>
{% endblock %}