{% extends "base.html" %}
{% block container %}
    <form action="" method="post">
        <input type="text" name="username" placeholder="Username" maxlength="25" required class="input-field"><br>
        <input type="password" name="password" placeholder="Password" maxlength="20" required class="input-field"><br><br>
        <button type="submit" formaction="{{url_for('login')}}" class="button button-login">Login</button>
        <button type="submit" formaction="{{url_for('register')}}" class="button button-register">Register</button>
    </form>
    <a href="" class="button button-attack">Attack</a>
    <a href="{{url_for('config')}}" class="button button-config">Set configuration</a>
{% endblock %}