{% extends "base.html" %}
{% block container %}
    <form method="post">
        <input type="text" name="username" placeholder="Username" maxlength="25" required class="input-field">
        <input type="password" name="password" placeholder="Password" maxlength="20" required class="input-field">

        {% if captcha_required %}
        <input id="captcha" type="text" name="captcha" placeholder="CAPTCHA Token" maxlength="20" required class="input-field">
        {% endif %}

        <p id="msg" class="msg">{% if msg is not none %}{{msg}}{% endif %}</p>
        
        <div class="buttons">
            <button type="submit" formaction="{{url_for('login')}}" class="button button-login">Login</button>
            <button type="submit" formaction="{{url_for('register', type='void')}}" class="button button-register">Register</button>
            <div {% if not totp_on %} hidden {% endif %} >
                <button type="submit" formaction="{{url_for('register', type='totp')}}" class="button button-register">Register with TOTP</button>
            </div>
            <a href="{{url_for('attack')}}" class="button button-attack">Attack</a>
            <a href="{{url_for('config')}}" class="button">Set configuration</a>
        </div>
    </form>
{% endblock %}